#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

@media(max-width: 750px){
  #page-auth{
    display: flex;
    flex-direction: column;
  }
}

aside{
  flex: 7;
  background: #835afd;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 80px;

  button{
    border-radius: 100px;
    width: 70px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    background-color: #111;
    color: #fff;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
  }

  img{
    max-width: 320px;
  }
  strong{
    font: 700 36px 'Poppins', sans-serif;
    line-height: 42px;
    margin-top: 16px;
  }
  p{
    font-size: 24px;
    margin-top: 16px;
    line-height: 32px;
    color: #f8f8f8;
  }
}

@media(max-width: 450px){
  aside{
    flex: 1 ;
    height: 20vh;
    max-width: 100%;
    padding: 10px 8px;
    align-items: center;
  
    img{
      max-width: 150px;
    }
    strong{
      font-size: 16px;
      margin-top: 4px;
    }
    p{
      font-size: 16px;
      line-height: 12px;
      margin-top: 4px;
    }
    
  }

}

main{
  flex: 8;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 750px){
  main{
    flex: 1;
    padding: 0 0;
  }
}

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;
  gap: 10px;

  > img {
    align-items: center;
  }

  h2{
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: 'Poppins', sans-serif;
  }

  form {
    input{
      height: 50px;
      border-radius: 8px;
      padding: 0 16px;
      background: #fff;
      border: 1px solid #a8a8b3;
    }
    button{
      margin-top: 16px;
    }
    button, input{
      width: 100%;
    }
  }
  
  p{
    font-size: 14px;
    color: #737380;
    margin-top: 16px;
  }
  a{
    color: #e559f9;
  }

  .list-room-button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: chocolate;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 32px;
    border: 0;
    transition: filter 0.2s;
  }
}

@media(max-width: 450px){
  .main-content{
    max-width: 400px;
    gap: 1px;
    align-items: center;
 
  >img{
    width: 120px;
  }
  h2{
    font-size: 18px;
    margin: 16px 0;
  }
  .list-room-button{
    height: 30px;
    width: 220px;
    margin-top: 5px;
  }
}
}

.separator{
  font-size: 14px;
  color: #a8a8b3;
  margin: 32px 0;
  display: flex;
  align-items: center;

  &::before{
    content: '';
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-right: 16px;
  }
  &::after{
    content: '';
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-left: 16px;
  }
}
@media (max-width:450px) {
  .separator{
    font-size: 12px;
    margin: 15px 0;
  }
}

.create-room{
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  img{
    margin-right: 8px;
  }

  &:hover{
    filter: brightness(0.9);
  }
}

@media(max-width: 450px){
  .create-room{
    margin-top: 10px;
    height: 30px;
    padding: 5px 5px;
  }
}